<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app" class="test1" v-if="true">
    <div class="test-class">
      <p>{{count}}</p>
      <span>{{count}}</span>
      <!-- <my-component string-data="aaaaaaa"/> -->
      <ul>
        <li v-for="(item, index) in arr" :key="index">{{item}}</li>
      </ul>
    </div>
  </div>
  <div id="app2"></div>
</body>
<script src="../vue.js/vue/dist/vue.js"></script>
<script>
  const MyComponent = Vue.component('my-component', {
    el: '#app2',
    props: {
      stringData : {
        type: String,
        default: 'test'
      },
      testData: Object
    },
    // props: ['string-data'],
    created() {
      // console.log('Created hook');
    },
    mounted() {
      // console.log('Mounted hook');
    },
    render(h) {
      return h('div', {
        class: 'test'
      })
    }
  });

  const mixins = new Vue({
    created() {
      // console.log('这是mixins的created')
    }
  })
  const vm = new Vue({
    el: '#app',
    // template: '<div>fuxk</div>',
    component: {
      MyComponent
    },
    // data: {
    //   count: 1
    // },
    data () {
      return {
        count: 1,
        data: {},
        arr: [1,2,3]
      }
    },
    beforeCreate() {
      // console.log('before111111111111111', this)
      // console.log('这是beforeCreated生命周期')
      // this.consoleData()
    },
    created() {
      // console.log('这是created生命周期', this.count)
      this.$on('hook:fuck', () => {
        // console.log('fuckcccc')
      })
      this.$on('hook:mounted', () => {
        // console.log('created中的mounted')
      })
    },
    mounted() {
      // console.log('这是mounted生命周期')
    },
    mixins: mixins,
    methods: {
      consoleData() {
        // console.log('fuck')
      }
    },
  })
</script>

</html>